nav img {
	height: 60px;
}

#logo {
	height: 30px;
}

.signin-button {
	color: #008f0c;
	cursor: pointer;
}

#content-title {
	margin-top: 30px;
	margin-bottom: 30px;
	text-align: center;
}

span.nav-link {
	cursor: pointer;
}

.list-group-item-action {
	color: #008f0c;
	text-align: center;
	cursor: pointer;
}

.cancel {
	margin-top: 25px;
}

.navbar-toggler {
	float: right;
}

.navbar-dark .navbar-nav .nav-link {
    color: #008f0c;
}

.ReactCrop {
	width: 100%;
}