nav img {
  height: 60px;
}

#logo {
  height: 30px;
}

.signin-button {
  color: #DB5B87;
  cursor: pointer;
}

#content-title {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}

span.nav-link {
  cursor: pointer;
}

.list-group-item-action {
  color: #DB5B87;
  text-align: center;
  cursor: pointer;
}

.cancel {
  margin-top: 25px;
}

.navbar-toggler {
  float: right;
}

.navbar-dark .navbar-nav .nav-link {
  color: #DB5B87;
}

.ReactCrop {
  width: 100%;
}

#profile-picture-row {
  margin-bottom: 20px;
}

#profile-image {
  display: inline-block;
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
  border: 2px solid black;
}

.profile-main ul {
  list-style: none;
}

.shared-playlists-table {
  color: white;
}

.ReactCrop {
  display: flex;
  flex-direction: column;
}

.profile ul {
  text-align: left;
  padding-left: 35%;
}

#profile-accordion .card {
  background-color: #303030;
}

#profile-accordion .card-img {
  height: 100px;
  width: auto;
  border: 2px solid black;
  max-width: 100px;
}

#profile-accordion .card-body {
  padding: 0 0;
}

@media only screen and (max-width: 768px) {
  #profile-accordion .card-body {
    text-align: center;
  }
}

#profile-accordion .btn-link {
  color: #DB5B87;
}

#profile-accordion svg {
  color: white;
  font-size: 18px;
  margin-right: 20px;
}
