nav img {
	height: 60px;
}

#logo {
	height: 30px;
}

.signin-button {
	color: #007bff;
	cursor: pointer;
}

#tab-content-title {
	margin-top: 30px;
	text-align: center;
}

span.nav-link {
	cursor: pointer;
}

.list-group-item-action {
	color: #007bff;
	text-align: center;
	cursor: pointer;
}

.navbar-toggler {
	float: right;
}

.navbar-dark .navbar-nav .nav-link {
    color: #007bff;
}