nav img {
	height: 60px;
}

#logo {
	height: 30px;
}

#status-indicator {
	display: flex;
}

.signin-button {
	color: #007bff;
	cursor: pointer;
}

#tab-content-title {
	margin-top: 30px;
	text-align: center;
}

span.nav-link {
	cursor: pointer;
}