#global-share-button {
    position: absolute;
    right: 20px;
    bottom: 125px;
    background-color: #aa52b0
}

#global-share-button button {
    background-color: #aa52b0;
    border-color: #aa52b0;
}