#visualizer > canvas {
  background: black;
}

#y-axis {
  border-left: 2px solid white;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 50px;
}

#pitch-A {
  border-top: 1px solid yellow;
  width: 20px;
  top: 44.6%;
  left: 52px;
  position: absolute;
}

#pitch-A::before {
  content: 'A';
  position: absolute;
  left: -30px;
  bottom: -12px;
}

#pitch-Bb {
  border-top: 1px solid yellow;
  width: 20px;
  top: 41%;
  left: 52px;
  position: absolute;
}

#pitch-Bb::before {
  content: 'Bb';
  position: absolute;
  left: -30px;
  bottom: -12px;
}

#pitch-B {
  border-top: 1px solid yellow;
  width: 20px;
  top: 37.4%;
  left: 52px;
  position: absolute;
}

#pitch-B::before {
  content: 'B';
  position: absolute;
  left: -30px;
  bottom: -12px;
}

#pitch-C {
  border-top: 1px solid yellow;
  width: 20px;
  top: 33.8%;
  left: 52px;
  position: absolute;
}

#pitch-C::before {
  content: 'C';
  position: absolute;
  left: -30px;
  bottom: -12px;
}

#pitch-Db {
  border-top: 1px solid yellow;
  width: 20px;
  top: 30.2%;
  left: 52px;
  position: absolute;
}

#pitch-Db::before {
  content: 'Db';
  position: absolute;
  left: -30px;
  bottom: -12px;
}

#pitch-D {
  border-top: 1px solid yellow;
  width: 20px;
  top: 26.6%;
  left: 52px;
  position: absolute;
}

#pitch-D::before {
  content: 'D';
  position: absolute;
  left: -30px;
  bottom: -12px;
}

#pitch-Eb {
  border-top: 1px solid yellow;
  width: 20px;
  top: 23%;
  left: 52px;
  position: absolute;
}

#pitch-Eb::before {
  content: 'Eb';
  position: absolute;
  left: -30px;
  bottom: -12px;
}

#pitch-E {
  border-top: 1px solid yellow;
  width: 20px;
  top: 19.4%;
  left: 52px;
  position: absolute;
}

#pitch-E::before {
  content: 'E';
  position: absolute;
  left: -30px;
  bottom: -12px;
}

#pitch-F {
  border-top: 1px solid yellow;
  width: 20px;
  top: 15.8%;
  left: 52px;
  position: absolute;
}

#pitch-F::before {
  content: 'F';
  position: absolute;
  left: -30px;
  bottom: -12px;
}

#pitch-Gb {
  border-top: 1px solid yellow;
  width: 20px;
  top: 12.2%;
  left: 52px;
  position: absolute;
}

#pitch-Gb::before {
  content: 'Gb';
  position: absolute;
  left: -30px;
  bottom: -12px;
}

#pitch-G {
  border-top: 1px solid yellow;
  width: 20px;
  top: 8.6%;
  left: 52px;
  position: absolute;
}

#pitch-G::before {
  content: 'G';
  position: absolute;
  left: -30px;
  bottom: -12px;
}

#pitch-Ab {
  border-top: 1px solid yellow;
  width: 20px;
  top: 5%;
  left: 52px;
  position: absolute;
}

#pitch-Ab::before {
  content: 'Ab';
  position: absolute;
  left: -30px;
  bottom: -12px;
}

#beat-icon {
  position: absolute;
  top: 300px;
  right: 200px;
  /* height: 100px; */
  /* visibility: hidden;
  transition: visibility 0s, opacity 0.5s linear;
  opacity: 0; */
}

/* #beat-icon.active {
  visibility: visible;
  height: 100px;
  opacity: 1;
} */