body {
  /* Margin bottom by footer height plus the margin between other stuff*/
  /* margin-bottom: 175px; */
  padding-bottom: 135px;
}

.footer {
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 100px;
  background-color: black;
  padding-top: 15px;
}

@media only screen and (max-width: 576px) {
  .footer {
    padding: 0;
  }
}

#player-message-not-signed-in {
  margin-top: -15px;
  text-align: center;
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 20px;
  padding: 8px;
  background-color: #1DB954;
}

#player-message-not-signed-in > img {
  height: 30px;
  margin-right: 10px;
}

#player-message-not-signed-in > svg {
  margin-left: 5px;
}

.sign-in-required-container {
  text-align: center;
}

#album-image {
  height: 75px;
}

.controls {
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-pause {
  cursor: pointer;
  color: #aa52b0;
  font-size: 35px;
}

.fa-play {
  cursor: pointer;
  color: #aa52b0;
  font-size: 35px;
}

.fa-play.disabled {
  cursor: not-allowed;
  color: gray;
  font-size: 35px;
}

.fa-step-forward {
  cursor: pointer;
  color: #aa52b0;
  margin-left: 30px;
  font-size: 35px;
}

.fa-step-forward.disabled {
  cursor: not-allowed;
  color: gray;
}

.fa-step-backward {
  cursor: pointer;
  color: #aa52b0;
  margin-right: 30px;
  font-size: 35px;
}

.fa-step-backward.disabled {
  cursor: not-allowed;
  color: gray;
}

.progress-bar {
  background-color: #008f0c;
}

.slider-handles > div#volume-slider-handle {
  position: 'absolute';
  margin-left: -5.5;
  margin-top: 33;
  z-index: 2;
  width: 15;
  height: 15;
  border: 0;
  text-align: 'center';
  cursor: 'pointer';
  border-radius: '50%';
  background-color: '#aa52b0';
  color: '#333';
}

.fa-redo {
  cursor: pointer;
  margin-right: 10%;
  margin-left: -10%;
  margin-top: 5px;
  font-size: 25px;
}

.repeat-track-span {
  position: relative;
  margin-right: 10%;
  margin-left: -10%;
  color: #aa52b0;
}

.repeat-track-number {
  position: absolute;
  top: 15px;
}

.fa-redo.repeat.off {
  color: white;
}

.fa-redo.repeat.context {
  color: #aa52b0;
}

.fa-redo.repeat.track {
  color: #aa52b0;
}

.fa-redo.repeat.disabled {
  color: #3f4041;
  cursor: not-allowed;
}

.fa-redo.repeat.track::after {
  position: absolute;
  content: '1';
  color: #aa52b0;
  font-size: 12px;
  font-weight: 700;
}

.fa-random {
  cursor: pointer;
  margin-right: 20%;
  margin-left: -20%;
  margin-top: 5px;
  font-size: 25px;
}

@media only screen and (max-width: 767.98px) {
  .fa-random {
    cursor: pointer;
    margin-right: -225px;
    margin-left: 225px;
  }
}

.fa-random.disabled {
  cursor: not-allowed;
  color: gray;
}

.fa-random.shuffle.off {
  color: white;
}

.fa-random.shuffle.on {
  color: #aa52b0;
}

#current-track-link > span {
  color: #0056b3;
}

@media only screen and (max-width: 767.98px) {
  #current-track-link > span {
    color: #aa52b0;
  }
}

@media only screen and (max-width: 576px) {
  #current-track-link {
    white-space: nowrap;
    overflow: hidden;
  }
}

#current-track-link > #current-track-link-separator {
  color: white;
}

#disabled-player-row {
  padding-top: 15px;
}
