
body {
	/* Margin bottom by footer height plus the margin between other stuff*/
	margin-bottom: 200px;
}

.footer {
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 150px;
	/* Vertically center the text there */
	/* line-height: 60px; */
	background-color: black;
	padding-top: 15px;
}

#player-message-not-signed-in {
	text-align: center;
	color: #007bff;
	cursor: pointer;
}

#album-image {
	height: 100px;
	display: none;
}

@media only screen and (min-width: 576px) {
    #album-image {
        display: inline;
    }
}

.controls {
	padding-bottom: 10px;
}

.button.play {

	width: 0; 
	height: 0; 
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
	
	border-left: 15px solid #007bff;
	display: inline-block;
	/* transition: 100ms all ease; */
}

.button.pause{
	border: 0;
	background: transparent;
	box-sizing: border-box;
	width: 0;
	height: 30px;

	border-style: double;
	border-width: 0px 0 0px 22px;

	border-color: transparent transparent transparent #007bff;
	/* transition: 100ms all ease; */
	cursor: pointer;
	display: inline-block;
}

.arrow-left {
	display: inline-block;
	text-align: center;
	margin-right: 40px;
	width: 0; 
	height: 0; 
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent; 
	border-right:10px solid #007bff; 
	margin-bottom: 5px;
	cursor: pointer;
}

.arrow-right {
	display: inline-block;
	text-align: center;
	margin-left: 40px;

	width: 0; 
	height: 0; 
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	
	border-left: 10px solid #007bff;
	margin-bottom: 5px;
	cursor: pointer;
}

.arrow-right.disabled {
	display: inline-block;
	text-align: center;
	margin-left: 40px;

	width: 0; 
	height: 0; 
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	
	border-left: 10px solid #3f4041;
	margin-bottom: 5px;
	cursor: not-allowed;
}

.arrow-left.disabled {
	display: inline-block;
	text-align: center;
	margin-right: 40px;
	width: 0; 
	height: 0; 
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent; 
	border-right:10px solid #3f4041;
	margin-bottom: 5px;
	cursor: not-allowed;
}

.button.play.disabled {
	border: 0;
	background: transparent;
	box-sizing: border-box;
	width: 0;
	height: 30px;

	border-style: double;
	border-width: 0px 0 0px 22px;

	border-color: transparent transparent transparent #3f4041;
	/* transition: 100ms all ease; */
	cursor: not-allowed;
	display: inline-block;
}