<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://unpkg.com/swagger-ui-dist@3.23.4/swagger-ui.css">
</head>
<body>
    <div id="swagger-ui"></div>

<script
    src="https://unpkg.com/swagger-ui-dist@3/swagger-ui-bundle.js"></script>

    <script>
        const ui = SwaggerUIBundle({
                url: "https://raw.githubusercontent.com/briansimoni/stereodose/master/api-definition.yml",
                dom_id: '#swagger-ui',
                presets: [
                    SwaggerUIBundle.presets.apis,
                    SwaggerUIBundle.SwaggerUIStandalonePreset
                ],
                // layout: "StandaloneLayout"
            })
    </script>

</body>
</html>