main {
  margin-top: 25px;
}

.playlists {
  list-style: none;
  text-align: center;
}

.playlists h4 {
  margin-bottom: 0;
}

.playlists img {
  max-width: 250px;
}

#choose-a-playlist {
  text-align: center;
  color: white;
}

.drug-header {
  text-align: center;
  color: white;
}

ul.moods,
ul.drugs,
#moods {
  text-transform: capitalize;
  padding-left: 0px;
  list-style: none;
  text-align: center;
}

ul.drugs li {
  padding: 5px;
}

.mood-choice-header {
  text-align: center;
  color: white;
}

#playlist-heading {
  text-align: center;
  margin-bottom: 20px;
}

#playlist-heading > img {
  height: 40vh;
}

.track-play-button {
  background-color: #008f0c;
  color: white;
}

.playlist {
  margin-top: 25px;
}

.comments {
  margin-top: 25px;
}

#comment-textarea {
  margin-bottom: 10px;
}

.comments .delete-button {
  float: right;
}

.fa-heart {
  cursor: pointer;
  color: gray;
  font-size: 28px;
}

.fa-heart.liked {
  cursor: pointer;
  color: #ff0000;
  font-size: 28px;
}

.comment-toggle {
  float: right;
}

.spinner-grow {
  margin: 0 auto;
}

#visualizer {
  position: fixed;
  top: -125px;
  left: 0;
  z-index: 2000;
}

#close-visualzier-button {
  position: fixed;
  top: 100px;
  right: 100px;
}

.fa-eye {
  margin-left: 15px;
  font-size: 30px;
}

/* .fa-eye::after {
  content: "Visualizer Alpha";
  color:white;
} */
